

#side_navBar {
    -fx-background-color: #171717;
    -fx-background-radius: 16px;
}


#elementContainer {
    -fx-background-color: linear-gradient(to top, #171717, #232323);
    -fx-background-radius: 16px;
}

